$space-unit: 1rem;

$space-2xs: calc(0.25 * #{$space-unit}); // 0.25rem
$space-xs: calc(0.5 * #{$space-unit}); // 0.5rem
$space-sm: calc(0.75 * #{$space-unit}); // 0.75rem
$space-md: calc(1.25 * #{$space-unit}); // 1.25rem
$space-lg: calc(2 * #{$space-unit}); // 2rem // 32px
$space-xl: calc(3.25 * #{$space-unit}); // 3.25rem // 52px
$space-2xl: calc(5.25 * #{$space-unit}); // 5.25rem // 84px
$space-3xl: calc(8.5 * #{$space-unit}); // 8.5rem // 136px
