name: Production Deployment
on:
  release:
    types:
      - released

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '25'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Build Site
        run: npm run generate
        env:
          BASE_URL: ${{ vars.BASE_URL }}
          GA_ID: ${{ vars.GA_ID }}
          NUXT_STORYBLOK_ACCESS_TOKEN: ${{ vars.NUXT_STORYBLOK_ACCESS_TOKEN }}

      - name: Deploy to Server
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.DEPLOY_HOST }}
          REMOTE_USER: ${{ secrets.DEPLOY_USER }}
          REMOTE_PORT: 10805
          SOURCE: ".output/public/"
          TARGET: ${{ secrets.DEPLOY_PATH }}
#          ARGS: "-rlgoDzvc -i --delete"
          ARGS: "-rlgoDzvc -i --dry-run"
